@import '_vars.scss';

.loader {
  width: 0px;
  margin: 50px auto;
  
  .data-loader {
    background-color: $primary_color;
    
    .line-spin-fade-loader>div {
      background-color: $primary_color;
    }
  }
}
