.mat-form-field {
  width: 100%;
}

.pokemon-list-item {
  margin-bottom: 10px;
}

.pokemon-list-container {
  height: calc(100vh - 175px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}
