$sprite-size: 60px;
$card-padding: 10px;

$breakpoint: 720px;

.mat-card {
  padding: $card-padding;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.mat-card-header {
  justify-content: space-between;
}

.mat-card-avatar {
  background-position: center;
  background-size: $sprite-size;
  height: $sprite-size;
  width: $sprite-size;
  order: 1;
}

.mat-card-title {
  font-size: 18px;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: -$card-padding;
  margin-left: -$card-padding;
  margin-right: -$card-padding;
  padding-top: 0;
}

.mat-card-actions {
  .mat-button {
    width: 100%;
  }

  @media(min-width: $breakpoint) {
    display: flex;
    flex-direction: row-reverse;

    .mat-button {
      width: auto;
    }
  }
}

